# deps
node_modules
.pnp
.pnp.js

# build
dist
.next
out

# turbo
.turbo

# env
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
.idea


# OS
.DS_Store
Thumbs.db

# logs
*.log

# drizzle
drizzle/meta
